{% extends 'layouts/base.html' %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
        background-color: black;
        color: white;
        }
        h1{
        color: blueviolet;
        font-size: 50px;
        }
        h2{
        color: yellow;
        font-size: 40px;
        }
        p{color: white;
        font-size: 30px;
        }
        a{
            color: yellow;
        }
    </style>
<body>
    <h1 style="text-align: center;">WELCOME TO LEARN DJANGO</h1>
    <p >I don't what happend with this template.</p>

</body>
</html>
{% endblock %}