<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
        background-color: black;
        color: white;
        }
        h1{
        color: blueviolet;
        font-size: 50px;
        }
        h2{
        color: yellow;
        font-size: 40px;
        }
        p{color: white;
        font-size: 30px;
        }
    </style>
</head>
<body>
    <nav>
        <li>
            <a href="/">Home page</a>
        </li>
        <li>
            <a href="/task/">Task page</a>
        </li>
    </nav>
    <h1 style="text-align: center;">AMOUNT USERS</h1>
    <h2>USERSNAME:</h2>
    
    {% for name in names %}
    <p>Name - {{name.name}}</p>
    {% endfor %}
    
</body>
</html>